# Runtime requirements
--requirement requirements.txt

# Documentation
Sphinx==3.1.1; python_version < '3.5'
Sphinx==2.2.0 ; python_version >= '3.5'

# Unit testing
tox==3.14.0
pytest==4.6.6 ; python_version < '3.0'
pytest==5.2.1 ; python_version >= '3.0'
responses==0.10.6
pytest-cov==2.8.1
coveralls==1.8.2
